<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
  <style>
    .product-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .product-item {
      border: 1px solid #ddd;
      padding: 10px;
      margin: 10px;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Products</h1>
  <div class="product-list" style="margin: auto;">
    {% for product in products %}
      {%if product.Quantity > 0%}
        <div style  = "width:20%">
        <a href="/product/{{ product.ID }}">
          <div class="product-item">
            <h3>{{ product.Name }}</h3>
            <p>Price: ${{ product.Price }}</p>
            <p>Quantity: {{ product.Quantity }}</p>
          </div>
        </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</body>
</html>